//COULEUR
$beige : #1E00F7;
$lightGrey : #c9c9c9;
$white : white;
$black: black;
$darkGrey : #212121;

//TAILLE
$margin : 40px;
$margin20 : 20px;
$widthCnx: 300px;
$maxWidth : 450px;
$maxWidthTab : 1024px;
$inputHeight : 52px;
$tabHeight : 60px;
    //---font
    $fontSize : 14px;
    $fontSizeBig : 18px;
    $fontSizeTiny : 11px;
    //---media query
    $maWidthMedia : 300px;

//MESSAGE
$error : #f8bcbc;
$ok : #bcf8c5;

//AUTRE
$type : 'Montserrat', sans-serif;
$outline : none;