.cover{
    height: 600px;
    overflow: hidden;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
//    background-position-y: 0;
    &.cover-about{
        background-position: 50% -300px;
    }
    @media (max-width: $screen-md-max){
        height: 500px !important;
        background-attachment: scroll;
        background-position: center !important;
//        h1 {
//            top: 35% !important;
//        }
    }
    @media (max-width: $screen-sm-max){
        height: 300px !important;
        background-attachment: scroll;
        background-position: center !important;
        h1 {
            top: 50% !important;
            font-size: 4rem !important;
        }
    }
}

.bg-video {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 600px;
    overflow: hidden;
    .cover-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-width: 900px;

    }
    @media (max-width: $screen-md-max){
        height: 500px !important;
        h1 {
            top: 55% !important;
        }
    }
    @media (max-width: $screen-sm-max){
        height: 300px !important;
        h1 {
            top: 44% !important;
            font-size: 4rem !important;
        }
        .cover-video {
            top: 63% !important;
        }
    }
}